<%- include('partials/header'); -%>

<section class="hero">
    <div class="container two-halves">
        <div class="hero-text">
            <h1>
                Plan your day on the go. Do work that matters.
            </h1>
            <p>Ready to win? Notely is your two to tango</p>
        </div>
        <div class="hero-image">
            <img src="/illustration-01.svg" alt="lady">
        </div>
    </div>
</section>
<section class="story">
    <div class="container">
        <div class="twos">
            <div class="story-image">
                <img src="/illustration-05.svg" alt="img">
            </div>
            <div class="story-text">
                <h1>Family will always be there for you</h1>
                <p>Priortize time with people that matters by scheduling</p>
            </div>
        </div>
        <div class="twos juggling">
            <div class="story-image">
                <img src="/illustration-12.svg" alt="img">
            </div>
            <div class="story-text">
                <h1>Practicing self care boosts your performancce</h1>
                <p>Add important tasks to your daily life</p>
            </div>
        </div>
    </div>
</section>
<section class="offerings">
    <div class="container center">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, commodi esse. Expedita culpa repudiandae sint sunt neque. Eaque quae veniam quo tempora eligendi alias voluptates! Aut dolores, blanditiis excepturi sint unde itaque autem error eos cum.
        </p>
        <a href="/signup" class="btn">Sign Up</a>
    </div>
</section>

<%- include('partials/footer'); -%>