<%- include('partials/header'); -%>

<section class="notes">
  
    <form  action="" id="formList">
        <h2>Tasks</h2>
        <input type="text" id="newInput" placeholder="What will you do today?">
        <button type="submit" id="addButton">Add</button>
    </form>
    <ul id="itemsList">
        <li class="item">
            Eat eice
            <button class="completed">Completed</button>
            <button class="delete">Delete</button>
        </li>
        <li class="item" >
            Pray
            <button class="completed">Completed</button>
            <button class="delete">Delete</button>
        </li>
    </ul>
</section>
<script src="dom.js"></script>
<%- include('partials/footer'); -%>